<% title t('reviews.product_reviews') %>
<% content_for :content do %>
  <% display_write_form = @brand.review_writable? && display_write_form?(@product) %>
  <%= content_tag :div, class: "widget new-review first #{'no-writable' if !@brand.review_writable?}" do %>
    <div class="widget-heading">
      <div class="widget-title">
        <%= widget.title.html_safe %>
      </div>
      <% if !@brand.reviews_index_url.blank? %>
        <%= content_tag :div, widget.reviews_button_title, class: 'rfloat btn show-reviews-index', data: {reviews_index_url: @brand.reviews_index_url} %>
      <% end %>
    </div>
    <% if display_write_form %>
      <div class="widget-body">
        <%= render 'products/reviews/custom/form' %>
        <%= render 'products/reviews/misc_form_templates' %>
        <%= render 'common/shared/form_upload_image' %>
      </div>
    <% end %>
  <% end %>
  <%= render 'products/reviews/summary', klass: ('without_write_form' unless display_write_form) %>
  <%= render 'products/reviews/custom/reviews' %>
<% end %>
