<%
  photo_reviews_count = product.photo_reviews_count
  review_images = product.review_images([30, photo_reviews_count].min)
  reviews = product.visible_reviews
%>
<div class="score-summary">
  <div id="review-photo-thumbnails">
    <div class="title">SECRETLABEL</div>
    <div id="review-photo-summary">
      <div class="count-text"><span class="count"><%= product.photo_reviews_count %></span>개의 포토리뷰가 있습니다.</div>
    </div>
    <ul class="product-thumbnail-container">
      <% brand = @brand %>
      <% review_images.each_with_index do |image, index| %>
        <%
          if brand.review_enable_gallery_popup
            link_class = 'photo-review-popup fade-from-grayscale'
            link_data = {photo_review_popup_url: photo_review_popup_review_path(image.model.id, photo_index: image.mounted_as[5].to_i)}
          else
            link_class = 'link-image-zoom fade-from-grayscale'
            link_data = {url: image.url, width: image.width, height: image.height}
          end
        %>
        <li class="photo-review-thumbnail">
          <%= content_tag :a, data: link_data, class: link_class do %>
            <%= image_tag image.url(:thumbnail), class: 'smooth review-image', alt: image.model.title, width: 75, height: 75 %>
            <%= image_tag image.url(:thumbnail), class: 'smooth grayscale', alt: image.model.title, width: 75, height: 75 %>
          <% end %>
        </li>
      <% end %>
      <% (1..(15 - photo_reviews_count)).each do |i| %>
        <li class="photo-review-thumbnail photo-review-thumbnail-empty"></li>
      <% end %>
    </ul>
    <div class="show-all-photo-reviews">
      <%= content_tag :a, class: "link-photo-reviews #{'selected' if @review_filter == ReviewFilterType::PHOTO}", data: {filter: ReviewFilterType::PHOTO} do %>
        포토리뷰 모아보기
        <span class="sprites-check"></span>
      <% end %>
    </div>
  </div>
</div>
